<div class="show_page">
  <div class="nav">
  <div class = "home_title_1">
    <h3 class = "home_title_1">Mr.Cocktail</h3>
  </div>
    <div class="btn">
      <%= link_to "Home", root_path, class: "btn  btn_home btn_home_1" %>
    </div>
  </div>

    <div class="img_header">
      <%= cl_image_tag @cocktail.photos.last.key,class: "img_header" %>
      </div>
     <h1><%= @cocktail.name %></h1>


<div class="cocktail_info">

  <div class="ingr_cocktail">
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %>
        <%= dose.description  %>
        <%= link_to "Delete", dose_path(dose), method: :delete, data:{confirm: "are you sure?"}, class: "delete_btn" %>
      </li>
    <% end %>
  </ul>
</div>
<div class ="form_add">
  <%= render 'doses/new', cocktail: @cocktail, dose: @dose, class: "new_dose" %>
  </div>
</div>
</div>

